.contenedor-cardinal {
  position: relative;
  width: 100%;
  height: 90vh;
}

img {
  position: absolute;
  width: 20%;
  height: auto;
}

.north {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.south {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.west {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.east {
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}


table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.tabla-con-fondo {
  background-color: transparent;
}

.tabla-con-fondo th.sin-color-fondo {
  background-color: transparent !important;
}

.registro-par {
  background-color: rgb(56, 56, 245);
}

.registro-impar {
  background-color: #40e0d0;
}


.fondo-degradado {
  background: rgb(9, 60, 121);
  background: -moz-linear-gradient(90deg, rgba(9, 60, 121, 1) 56%, rgba(0, 211, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(9, 60, 121, 1) 56%, rgba(0, 211, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(9, 60, 121, 1) 56%, rgba(0, 211, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#093c79", endColorstr="#00d3ff", GradientType=1);
  padding: 10px;
}

.titulos {
  color: #093c79;
}
