<h1 class="text-center my-4">SERVICIOS</h1>

<div class="contenedor-cardinal">
  <img src="assets/img/IMAGENES/Pagina principal/S_PRODUCTOSTECNOLOGICOS.jpeg" alt="Imagen 1" class="north">
  <img src="assets/img/IMAGENES/Pagina principal/S_CAPACITACIONES.jpg" alt="Imagen 2" class="south">
  <img src="assets/img/IMAGENES/Pagina principal/S_SOLUCIONESTECNOLÓGICAS.jpg" alt="Imagen 3" class="west">
  <img src="assets/img/IMAGENES/Pagina principal/S_PRODUCCIONESDIGITALES.jpg" alt="Imagen 4" class="east">
</div>

<h1>CONOCE NUESTROS PLANES</h1>

