<h1 class="fw-bold text-center my-4">PLATAFORMA EDUCATIVA</h1>
<div class="container my-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 contenido_informacion fondo-informatica">
      <div class="filtro-green">
        <div class="text-contenido-info">
          <h3>INFORMÁTICA</h3>
          <ul>
            <li>Hacking ético</li>
            <li>Seguridad informática para las organizaciones</li>
            <li>
              Mantenimiento de equipos de computos Nivel Básico, Intermedio
            </li>
            <li>Auditoria informática</li>
            <li>
              Práctico Excel
              <ul>
                <li>Modulo 1 : Excel básico</li>
                <li>Modulo 2 : Excel intermedio</li>
                <li>Modulo 3 : Excel avanzado</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mb-2 contenido_informacion fondo-diseño">
        <div class="col-md-12">
          <div class="filtro-azul">
            <div class="text-contenido-info">
              <h3>DISEÑO GRÁFICO</h3>
              <ul>
                <li>Photoshop: Nivel Básico, Intermedio, avanzado</li>
                <li>Illustrator: Nivel Básico, Intermedio, avanzado</li>
                <li>Editor de video: Nivel Básico, Intermedio, avanzado</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 contenido_informacion fondo-marketing">
        <div class="col-md-12">
          <div class="filtro-azul">
            <div class="text-contenido-info">
              <h3>MARKETING</h3>
              <ul>
                <li>Taller de desarrollo de emprendimiento</li>
                <li>Marketing digital</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 contenido_informacion fondo-proyecto-asesoria">
      <div class="filtro-green">
        <div class="text-contenido-info">
          <h3>ASESORÍA PROYECTOS</h3>
          <ul>
            <li>Taller preparación para entrevista de trabajo</li>
            <li>Taller práctico elaboración de tesis</li>
            <li>Taller de entrenamiento de encuestadores</li>
            <li>
              Taller redacción y ortografía para una comunicación eficaz en
              redes sociales
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-btn my-4">
    <button class="centered-btn btn btn-primary">ACCEDE A LA PLATAFORMA EDUCATIVA</button>
  </div>



</div>
