<h1 class="fw-bold text-center my-4 titulos">PLATAFORMA EDUCATIVA</h1>
<div class="container my-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 contenido_informacion fondo-informatica">
      <div class="filtro-green">
        <div class="text-contenido-info ">
          <h3 class="mb-3">INFORMÁTICA</h3>
          <ul>
            <li class="mb-3">Hacking ético</li>
            <li class="mb-3">Seguridad informática para las organizaciones</li>
            <li class="mb-3">
              Mantenimiento de equipos de computos Nivel Básico, Intermedio
            </li>
            <li class="mb-3">Auditoria informática</li>
            <li class="mb-3">
              Práctico Excel
              <ul>
                <li class="mb-3">Modulo 1 : Excel básico</li>
                <li class="mb-3">Modulo 2 : Excel intermedio</li>
                <li class="mb-3">Modulo 3 : Excel avanzado</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row mb-2 contenido_informacion fondo-diseño">
        <div class="col-md-12">
          <div class="filtro-azul">
            <div class="text-contenido-info">
              <h3 class="mb-3">DISEÑO GRÁFICO</h3>
              <ul>
                <li class="mb-3">Photoshop: Nivel Básico, Intermedio, avanzado</li>
                <li class="mb-3">Illustrator: Nivel Básico, Intermedio, avanzado</li>
                <li class="mb-3">Editor de video: Nivel Básico, Intermedio, avanzado</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 contenido_informacion fondo-marketing">
        <div class="col-md-12">
          <div class="filtro-azul">
            <div class="text-contenido-info">
              <h3 class="mb-3">MARKETING</h3>
              <ul>
                <li class="mb-3">Taller de desarrollo de emprendimiento</li>
                <li class="mb-3">Marketing digital</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 contenido_informacion fondo-proyecto-asesoria">
      <div class="filtro-green">
        <div class="text-contenido-info">
          <h3 class="mb-3">ASESORÍA PROYECTOS</h3>
          <ul>
            <li class="mb-3">Taller preparación para entrevista de trabajo</li>
            <li class="mb-3">Taller práctico elaboración de tesis</li>
            <li class="mb-3">Taller de entrenamiento de encuestadores</li>
            <li class="mb-3">
              Taller redacción y ortografía para una comunicación eficaz en
              redes sociales
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-btn my-4">
    <button class="centered-btn btn btn-primary" (click)=" abrirPlataforma();">ACCEDE A LA PLATAFORMA EDUCATIVA</button>
  </div>



</div>
