<div class="container-fluid text-center p-4 p-md-6 mb-4 text-white " style="background-color: rgb(54, 147, 67) ; ">
    <div class="row">
        <div class="col " style="margin-block-start:auto; ">
            <h1 class="fs-1 fst-italic text-content  text-end">CPROTEC</h1>
            <h6 class="fs-2 fst-italic text-content  text-end">Productos tecnológicos</h6>
            <hr>
            <ul>
                <p class="text-start text-white">Equipos de cómputo</p>
                <p class="text-start text-white">Periféricos informáticos</p>
            </ul>
        </div>
        <div class="col">
            <div class="contenedor-img">
                <img src="assets/img/IMAGENES/Productos tecnologicos/PT_eqquiposcomputo.png" style="margin-top: 40px;"
                    width="100%">
            </div>

        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="cols">
            <div class="card fondo-degradado text-white text-center" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Periféricos informáticos</h5>
                    <p class="card-text">Con el paso de los años, el diseño y los
                        propósitos
                        de las computadoras han cambiado drástica-
                        mente. Pero, elegir la mejor opción depende de
                        las necesidades del negocio. CPROTEC cuenta
                        con una amplia gama de productos tecnológicos
                        según tu necesidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card fondo-degradado text-white text-center" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Equipos de cómputo</h5>
                    <p class="card-text"> En la actualidad, conocer bien lo
                        relacionado
                        con

                        nuestros dispositivos electrónicos es fundamen-
                        tal para poder obtener el mejor provecho de sus

                        características. En este sentido, nada mejor que

                        saber de qué estamos hablando cuando necesi-
                        tamos asistencia técnica o tenemos que enfren-
                        tarnos a la elección de la compra de un accesorio

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
