<div style="background-color: orange">
  <div class="container" style="height: 540px">
    <div class="row">
      <div class="col-md-6">
        <div class="row" style="height: 300px; width: 300px"></div>
        <div class="row">
          <div class="col-md-12">
            <hr class="text-white" style="border-top-width: 2px" />

            <ul>
              <li class="text-white">Auditoria Informática</li>
              <li class="text-white">Desarrollo De Páginas Web</li>
              <li class="text-white">Desarrollo De Software</li>
              <li class="text-white">Investigación De Mercado</li>
              <li class="text-white">Mantenimiento De Equipos De Cómputo</li>
              <li class="text-white">Transformaciòn Digital</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="contenedor-img">
              <img
                src="assets/img/IMÁGENES/Página principal/S_CAPACITACIONES.jpg"
                style="margin-top: 100px"
                width="100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-4">
      <div class="card fondo-degradado text-white" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Auditoria Informática</h5>
          <p class="card-text text-center">
            En CPROTEC contamos con equipo de profesionales altamente capacitado
            y actualizado para presentar nuestros servicios de auditoría,
            aplicamos herramientas tecnológicas para eficientizar los procesos y
            generar valor agregado a nuestros servicios, con un alto nivel de
            calidad..
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card fondo-degradado text-white" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">
            Desarrollo De Páginas Web
          </h5>
          <p class="card-text text-center">
            En CPROTEC contamos con profesionales en diseño, programación y
            estrategias de promoción, implementando soluciones digitales con el
            objetivo de desarrollar una página web para tu nuevo emprendimiento
            o para tu creciente negocio que necesita conectarse de mejor manera.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fondo-degradado text-white" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Desarrollo De Software</h5>
          <p class="card-text">
            En CPROTEC somos una empresa especializada en el desarrollo de
            software, contamos con un equipo de analistas, diseñadores,
            desarrolladores y programadores capacitados para proponer soluciones
            e implementar mejoras rentables que incrementen la productividad de
            nuestros clientes.En CPROTEC contamos con profesionales en diseño,
            programación y estrategias de promoción, implementando soluciones
            digitales con el objetivo de desarrollar una página web para tu
            nuevo emprendimiento o para tu creciente negocio que necesita
            conectarse de mejor manera.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fondo-degradado text-white" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">
            Investigación De Mercado
          </h5>
          <p class="card-text">
            nuestros equipo de asesores, conformado por profesionales de calidad
            nos permiten estar en vanguardia y crear soluciones innovadoras a la
            medida y necesidades de cada proyecto brindado a su empresa
            resultados eficientes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fondo-degradado text-white" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">
            Mantenimiento De Equipos De Cómputo
          </h5>
          <p class="card-text">
            nuestros equipo de asesores, conformado por profesionales de calidad
            nos permiten estar en vanguardia y crear soluciones innovadoras a la
            medida y necesidades de cada proyecto brindado a su empresa
            resultados eficientes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fondo-degradado text-white" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Transformaciòn Digital</h5>
          <p class="card-text">
            nuestros equipo de asesores, conformado por profesionales de calidad
            nos permiten estar en vanguardia y crear soluciones innovadoras a la
            medida y necesidades de cada proyecto brindado a su empresa
            resultados eficientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
