<div style="background-color: rgb(141, 70, 141);">
  <div class="container" style="height: 540px;">
    <div class="row">
      <div class="col-md-6">
        <div class="row" style="height: 300px; width: 300px;">

        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="text-white" style="border-top-width: 2px;">

            <ul>
              <li class="text-white">Marketing</li>
              <li class="text-white">Diseño Gráfico</li>
              <li class="text-white">Informática</li>
              <li class="text-white">Asesoría De Proyectos</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="contenedor-img">
              <img src="assets/img/IMÁGENES/Página principal/S_CAPACITACIONES.jpg" style="margin-top: 100px;"
                width="100%" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card fondo-degradado text-white" style="height: 100%;">

        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Marketing</h5>
          <p class="card-text">CPROTEC es una empresa que ofrece conocimientos en tecnología actuando en un mercado
            complejo, que pueden transmitir a sus clientes potenciales a partir de la producción de materiales
            relevantes, que pueden generar oportunidades de ventas al ubicarse en una estrategia eficaz de Marketing de
            Contenidos.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fondo-degradado text-white" style="height: 100%;">

        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Diseño Gráfico</h5>
          <p class="card-text">En CPROTEC somos un equipo de estrategas de marca y diseñadores gráficos, que cuenta con
            un personal capacitado para brindarles apoyo y crear historias que impacten y así llegar a más clientes.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fondo-degradado text-white" style="height: 100%;">

        <div class="card-body">
          <h5 class="card-title  text-center fw-bold">Informática</h5>
          <p class="card-text">La seguridad informática es un tema que ha ganado muchísima atención en las tres ultimas
            décadas, en CPROTEC nos preocupamos por nuestros clientes y como llevan el manejo de la protección global de
            los datos de sus clientes.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fondo-degradado text-white" style="height: 100%;">

        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Asesoría De Proyectos</h5>
          <p class="card-text">nuestros equipo de asesores, conformado por profesionales de calidad nos permiten estar
            en vanguardia y crear soluciones innovadoras a la medida y necesidades de cada proyecto brindado a su
            empresa resultados eficientes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
