<div class="container my-4">
  <h1 class="fw-bold text-center mb-4">NOTICIAS</h1>

  <div class="row">
    <div class="col-md-9">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-4" *ngFor="let item of datosNoticias">
          <div class="card h-100">
            <img [src]="item.imagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">{{item.titulo}}</h5>
              <p class="card-text">{{item.cotextos}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">

    </div>
  </div>

</div>
