<h1 class="my-4 text-center fw-bold titulos">CONTÁCTANOS</h1>

<div class="container fondo-degradado py-4 px-4 text-white fw-bold">
  <div class="row">
    <div class="col-md-6">
      <div class="row  justify-content-center">
        <div class="col-md-12 mb-2">
          <label for="exampleFormControlInput1" class="form-label">Nombres</label>
          <input type="text" class="form-control" id="txt_nombre">
        </div>

        <div class="col-md-12 mb-2">
          <label for="exampleFormControlInput1" class="form-label">Apellidos </label>
          <input type="email" class="form-control" id="txt_apellidos">
        </div>

        <div class="col-md-12 mb-2">
          <label for="exampleFormControlInput1" class="form-label">Celular</label>
          <input type="email" class="form-control" id="txt_celular">
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="row  justify-content-center">
        <div class="col-md-12 mb-2">
          <label for="exampleFormControlInput1" class="form-label">Correo</label>
          <input type="email" class="form-control" id="txt_correo">
        </div>
        <div class="col-md-12 mb-2">
          <label for="exampleFormControlInput1" class="form-label">Asunto</label>
          <input type="email" class="form-control" id="txt_asunto">
        </div>
        <div class="col-md-12 mb-2">
          <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
          <textarea class="form-control" id="txt_mensaje" rows="3" style="resize: none"></textarea>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 my-2">
      <button class="btn btn-success" type="button">Enviar</button>
    </div>
  </div>
</div>

<h1 class="my-4 text-center fw-bold titulos">ENCUÉNTRANOS EN</h1>

<div class="container text-white" style="background-color: #009bff; padding: 20px;">
  <div class="row ">
    <div class="col-md-6">
      <h3>Portoviejo:</h3>
      <p>Calle 5 de octubre y Av. del Ejercito</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.9080614405025!2d-79.89471682593043!3d-2.1885339372759716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6ddf4518addb%3A0x8341c2ce61bc5d02!2sBanco%20del%20Pac%C3%ADfico!5e0!3m2!1ses-419!2sec!4v1684813373948!5m2!1ses-419!2sec"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
      <h3>Guayaquil</h3>
      <p>Av. Francisco de Orellana. Sky Building</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.020632601607!2d-79.88548722593076!3d-2.1457843371676653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6d05cd4b398d%3A0xebebac9eac513e0e!2sSky%20Building!5e0!3m2!1ses-419!2sec!4v1684808577417!5m2!1ses-419!2sec"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <img src="assets/img/BOTONES/FACEBOOK_C.png" width="10%">
      <h2 class="titulos">Facebook</h2>
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/BOTONES/IG_C.png" width="10%">
      <h2 class="titulos">Instagram</h2>
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/BOTONES/WHATSAPP_C.png" width="10%">
      <h2 class="titulos">WhatsApp</h2>
    </div>
  </div>
</div>


<h1 class="my-4 text-center fw-bold titulos">CONTACTO</h1>


<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <h3 class="fw-bold"> ÁREA TECNOLÓGICA</h3>
      <div class="container d-flex justify-content-center align-items-center">
        <img src="assets/img/personalCprotec/RolandoCedeno.jpeg" width="60%">
      </div>
      <div class="fondo-degradado  text-white">
        <h5>Ing. Rolando Cedeño</h5>
        <div class="my-2"><img src="assets/img/BOTONES/MAIL_PIE.png" width="4%"> rcedeno@ceprotec.net</div>
        <div><img src="assets/img/BOTONES/TELÉFONO_CONTACTO.png" width="4%"> 0991391368</div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="fw-bold">ÁREA COMERCIAL</h3>
      <div class="container d-flex justify-content-center align-items-center">
        <img src="assets/img/personalCprotec/MariuxiAuciliadora.jpeg" width="53%">
      </div>
      <div class="fondo-degradado text-white">
        <h5>Ing. María Auxiliadora Nuñez</h5>
        <div class="my-2"><img src="../assets/img/BOTONES/MAIL_PIE.png" width="4%"> mnunez@ceprotec.net</div>
        <div><img src="assets/img/BOTONES/TELÉFONO_CONTACTO.png" width="4%"> 0969507885</div>
      </div>
    </div>

  </div>
</div>