
.fondo-degradado {
    background: rgb(9, 60, 121);
    background: -moz-linear-gradient(90deg, rgba(9, 60, 121, 1) 56%, rgba(0, 211, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(9, 60, 121, 1) 56%, rgba(0, 211, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(9, 60, 121, 1) 56%, rgba(0, 211, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#093c79", endColorstr="#00d3ff", GradientType=1);
    padding: 10px;
}