<div class="container-fluid text-center p-4 p-md-6 mb-4 text-white " style="background-color: rgb(197, 25, 34) ; ">
    <div class="row">
        <div class="col " style="margin-block-start:auto; ">
            <h1 class="fs-1 fst-italic text-content  text-end">CPROTEC</h1>
            <h6 class="fs-2 fst-italic text-content  text-end">Producciones digitales</h6>
            <hr>
            <ul>
                <p class="text-start text-white">Diseño Gráfico Publicitario</p>
                <p class="text-start text-white">Marketing y publicidad</p>
                <p class="text-start text-white">Servicios audiovisuales para eventos sociales</p>
            </ul>
        </div>
        <div class="col">
            <div class="contenedor-img">
                <img src="assets\img\IMÁGENES\Producciones digitales\PD_Marketingpublicidad.png"
                    style="margin-top: 100px;" width="100%">
            </div>

        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row row-cols-md g-4">
        <div class="col">
            <div class="card fondo-degradado text-white text-center" style="height: 100%;">

                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Diseño Gráfico
                        Publicitario</h5>
                    <p class="card-text">En CPROTEC te asesoraremos y gui-
                        aremos pasa a paso desarrollando

                        marcas con personalidad, conceptos
                        creativos a la vanguardia del diseño y

                        la funcionalidad, alineados a tus ob-
                        jetivos y propuesta para un rápido

                        posicionamiento en el mercado.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card fondo-degradado text-white text-center" style="height: 100%;">

                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Marketing y
                        publicidad</h5>
                    <p class="card-text">Con CPROTEC genera empatía y
                        diseña campañas que destaquen tu

                        marca y la hagan crecer, maximizan-
                        do el retorno de tu inversión. Realiza-
                        mos campañas personalizadas de

                        marketing de acuerdo con las
                        necesidades de cada cliente.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card fondo-degradado text-white text-center" style="height: 100%;">

                <div class="card-body">
                    <h5 class="card-title  text-center fw-bold">Servicios audiovisuales
                        para eventos sociales</h5>
                    <p class="card-text">
                        CPROTEC cuenta con un equipo ca-
                        pacitado para realizar todo tipo de

                        trabajos y eventos audiovisuales.
                        Además, trabajamos con equipos de

                        última tecnología y marcas profesio-
                        nales, brindando lo mejor de no-
                        sotros y estando atentos a las necesi-
                        dades de nuestros clientes, para que

                        vivan una experiencia inolvidable.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>