<div class="my-4">
  <div class="container letra1 text-center">
    <h1 class="letran fw-bold">NOSOTROS</h1>
  </div>
  <div class="container estilo1 text-center">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card card-personalizado">
            <img
              src="assets/img/Recursos/MISION.png"
              class="mx-auto"
              width="10%"
            />
            <div class="card-body">
              <h2 class="card-title fw-bold">Misión</h2>
              <p class="card-text">
                Ofrecer soluciones innovadoras para la transformación digital de
                PYMES por medio de profesionales altamente capacitados en todo
                tipo de proyectos tecnológicos y que utilizan los estándares de
                calidad aplicados a cada industria.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-personalizado">
            <img
              src="assets/img/Recursos/VISION.png"
              class="mx-auto"
              width="10%"
            />
            <div class="card-body">
              <h2 class="card-title fw-bold">Visión</h2>
              <p class="card-text">
                En 2027, seremos un referente de soluciones tecnológicas de
                vanguardia para PYMES.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-diamante my-4">
  <div class="diamante estilo1-vertical d-flex flex-column align-items-center">
    <img src="assets/img/Recursos/VALORES.png" width="100%" />
    <h1 class="text-center mt-3 fw-bold text-white">Valores</h1>
  </div>


  <div
    class="contexto-nosotros d-flex align-items-center justify-content-center"
  >
    <!-- concepto -->
    <div class="row">
      <div class="col-sm-10 mx-auto">
        <div class="row">
          <div class="col-sm-6 my-4">
            • Tomamos seriamente nuestra <b>responsabilidad</b> con los clientes.
          </div>
          <div class="col-sm-6 my-4">
            • <b>Respetamos</b> el tiempo de cada persona y el compromiso.
          </div>

          <div class="col-sm-6 my-4">
            • Somos <b>empáticos</b>, nos ponemos en la situación de cada uno.
          </div>
          <div class="col-sm-6 my-4">
            • Siempre trabajamos en equipo, capacitándonos e <b>innovando</b>.
          </div>
          <div class="col-sm-12 my-4">
            • A través de la digitalización, automatización y empleo virtual
            <b>reducimos</b> el uso de recursos y ayudamos al ecosistema.
          </div>
        </div>
      </div>
    </div>
    <!-- fin de concepto -->
  </div>
</div>

<div class="my-4">
  <div class="container text-center">
    <h1 class="letrac fw-bold">CONVENIOS Y ALIANZAS ESTRATÉGICAS</h1>
  </div>
</div>

<div class="container my-4">
  <div class="row estilo1">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <div *ngFor="let i of imagenes">
          <img [src]="i" alt="Logo" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-4">
  <div class="container text-center">
    <h1 class="letrac fw-bold">CLIENTES</h1>
  </div>
</div>

<div class="container my-4">
  <div class="row estilo1">
    <div class="col-12 mx-auto">
      <div class="d-flex justify-content-center align-items-center text-center">
        <div *ngFor="let i of imagenesCliente">
          <img [src]="i" alt="Logo" width="90%" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
