<div class="my-4">
  <div class="container letra1 text-center">
    <h1 class="letran fw-bold">NOSOTROS</h1>
  </div>
  <div class="container estilo1 text-center">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card card-personalizado">
            <img
              src="assets/img/Recursos/MISIÓN.png"
              class="mx-auto"
              width="10%"
            />
            <div class="card-body">
              <h2 class="card-title">Misión</h2>
              <p class="card-text">
                Ofrecer soluciones innovadoras para la transformación digital de
                PYMES por medio de profesionales altamente capacitados en todo
                tipo de proyectos tecnológicos y que utilizan los estándares de
                calidad aplicados a cada industria
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-personalizado">
            <img
              src="assets/img/Recursos/VISIÓN.png"
              class="mx-auto"
              width="10%"
            />
            <div class="card-body">
              <h2 class="card-title">Visión</h2>
              <p class="card-text">
                En 2027, seremos un referente de soluciones tecnológicas de
                vanguardia para PYMES.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-diamante my-4">
  <div class="diamante">
  </div>
  <div class="contexto-nosotros">

  </div>
</div>

<div class="my-4" style="overflow: hidden;">
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-sm-3 rounded estilo3">Valores</div>
      <div class="col-sm-9 rounded-end estilo2 text-white">
        <div class="row">
          <div class="col-8 col-sm-6">
            • Tomamos seriamente nuestra responsabilidad con los clientes
          </div>
          <div class="col-4 col-sm-6">
            • Respetamos el tiempo de cada persona y el compromiso
          </div>
          <div class="col-8 col-sm-6">
            • Somos empáticos, nos ponemos en la situación de cada uno.
          </div>
          <div class="col-4 col-sm-6">
            • Siempre trabajamos en equipo, capacitándonos e innovando
          </div>
          <div class="row text-start">
            <div class="col-12">
              • A través de la digitalización, automatización y empleo virtual
              reducimos el uso de recursos y ayudamos al ecosistema
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="my-4">
  <div class="container text-center">
    <h1 class="letrac fw-bold">CONVENIOS Y ALIANZAS ESTRATÉGICAS</h1>
  </div>
</div>
