<div class="card fondo-degradado">
    <img src="assets\img\IMAGENES\Pagina principal\inicio.jpg" class="card-img" alt="..." width="100%">
    <div class="card-img-overlay" style="padding: 15%;">
        <div class="container text-start">
            <h1 class="card-title">BIENVENIDOS A </h1>
            <h2 class="card-title"> CPROTEC</h2>
        </div>
    </div>
</div>

<div class="my-4">
    <div class="container letra1 text-center">
        <h1 class="letran">NOSOTROS </h1>
    </div>
    <div class="container estilo1 text-center rounded">
        <div class="row">
            <div class="col">
                <h2 class="text-white"> Misión</h2>
                <p class="text-white">Ofrecer soluciones innovadoras para la transformación digital de PYMES por medio
                    de profesionales
                    altamente capacitados en todo tipo de
                    proyectos tecnológicos y que utilizan los estándares de calidad aplicados a cada industria</p>
            </div>
            <div class="col">
                <h2 class="text-white"> Visión</h2>
                <p class="text-white"> En 2027, seremos un referente de soluciones
                    tecnológicas de vanguardia para PYMES</p>
            </div>
        </div>
    </div>

</div>
<div class="my-4">
    <div class="container text-center text-white">
        <div class="row">
            <div class="col-sm-3 rounded estilo3">
                Valores
            </div>
            <div class="col-sm-9 rounded-end estilo2 text-white">
                <div class="row">
                    <div class="col-8 col-sm-6">
                        • Tomamos seriamente nuestra responsabilidad con los
                        clientes
                    </div>
                    <div class="col-4 col-sm-6">
                        • Respetamos el tiempo de
                        cada persona y el compromiso
                    </div>
                    <div class="col-8 col-sm-6">
                        • Somos empáticos, nos ponemos en la situación de cada uno.
                    </div>
                    <div class="col-4 col-sm-6">
                        • Siempre trabajamos en equipo, capacitándonos e innovando
                    </div>
                    <div class="row text-start">
                        <div class="col-12">
                            • A través de la digitalización, automatización y empleo virtual reducimos el uso de
                            recursos y ayudamos al ecosistema
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="my-4">
    <div class="container text-center">
        <h1 class="letrac">CONVENIOS Y ALIANZAS ESTRATÉGICAS</h1>
    </div>
</div>